:org.apache.felix.configadmin.revision:=L"1"
felix.fileinstall.active.level="90"
felix.fileinstall.dir="C:\\PINGMY~1\\OPENHA~1.5/addons"
felix.fileinstall.filename="file:/C:/PingMyHealth/openhab-2.5.5/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="C:\\PingMyHealth\\openhab-2.5.5\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.0b2b8f2a-4ddd-48ff-879a-48333043614c"
